<% include partials/top %>

<div id="homeContainer" class="container">

  <h1 class="text-center">Login Application</h1>

</div>

<script src="home-script.js"></script>

<% include partials/bottom %>
